.container {
    height: 100px;
    padding: 0 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}
.button {
    color: #d1411e;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d1411e;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    transition: all .3s;
    cursor: pointer;
}

.button:hover {
    color: #d1411e;
    background: #fff;
    border: 2px solid #fff;
    font-size: 20px;
}

.button_logout {
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #fc0202;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 700;
}

.button_logout:hover {
    color: #ff0000;
    background: #fff;
    /*border: 1px solid #fff;*/
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.itemLogo{
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.item:nth-child(2) {
    flex: 3;
}

.item:last-child {
    justify-content: flex-end;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts {
    margin-left: 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .3rem;
    text-decoration: none;
}

.text:first-child {
    font-size: 12px;
    font-weight: 500;
}

.text:last-child {
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem {
    margin: 20px;
    font-weight: 500;
}

.cart {
    position: relative;
    cursor: pointer;
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}

@media screen and (max-width: 480px) {
    .item:nth-child(2) {
        display: none;
    }

    .item:nth-child(1) {
        flex: 3;
    }
}